extends layout

block content
  script(src="/socket.io/socket.io.js")
  script(src="/scripts/validation.js")
  script(src="/scripts/form.js")
  script(src="/scripts/suggestion.js")
  #notification-container
    li.notification Hello
  .container
    .col-md-6.col-md-offset-3
      form(method='post' action='/generate')
        .form-group
          label.control-label(for='email') Email:
          input#email.form-control(type='email', placeholder='Enter Email', name='email', required='')
        .form-group
          label.control-label(for='git_url') GITURL:
          select#git_url.form-control(type='text', placeholder='Enter URL of Github Repository', name='git_url')
        .form-group
          label.control-label(for='doc_theme') Doc Theme:
          select#doc_theme.form-control(name='doc_theme')
            option(value='fossasia_theme') fossasia_theme
            option(disabled='') Built-in Themes
            option(value='alabaster') alabaster
            option(value='classic') classic
            option(value='sphinxdoc') sphinxdoc
            option(value='scrolls') scrolls
            option(value='agogo') agogo
            option(value='traditional') traditional
            option(value='nature') nature
            option(value='haiku') haiku
            option(value='pyramid') pyramid
            option(value='bizstyle') bizstyle
            option(disabled='') PyPi Custom Themes
            option(value='sphinx_bootstrap_theme') sphinx_bootstrap_theme
            option(value='sphinx_adc_theme') sphinx_adc_theme
            option(value='rtcat_sphinx_theme') rtcat_sphinx_theme
            option(value='guzzle_sphinx_theme') guzzle_sphinx_theme
            option(value='sphinx_rtd_theme') sphinx_rtd_theme
        .form-group
            label.control-label(for='debug') Debug mode
            input#debug(type='checkbox', value='true', name='debug', checked=false)
        .form-group#buttons
            button.btn.btn-default(type='button' id='btnGenerate') Generate Docs
            .row
              a.btn.btn-default(id='btnDownload') Download
              a.btn.btn-default(id='btnPreview' target='_blank') Preview
              a.btn.btn-default(id='btnDeploy' data-toggle='modal', data-target='#deployModal') Deploy
      .progress
        #progress.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%')
          span.sr-only
      .logs.pre-scrollable
        h4(style='text-align: center; padding-top: 5px; color: #ffffff') Console Output
        ul#messages
  #deployModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h5.modal-title Github Deployment
        .modal-body
          p
            | In order to enable continuous deployment of Documentation, add the following content to your &nbsp;
            code .travis.yml
            | , making necessary changes
          pre
            | # Add environment variable following description in http://yaydoc.fossasia.org/#usage
            | env:
            |   global:
            |     - DOCPATH=&lt;doc-path&gt;
            | # Add SSH Key following description in http://yaydoc.fossasia.org/#using-ssh
            | before_deploy:
            | - openssl aes-256-cbc -K $encrypted_37510afbd506_key -iv $encrypted_37510afbd506_iv -in .utility/deploy_key.enc -out .utility/deploy_key -d
            | - eval "$(ssh-agent -s)"
            | - chmod 600 .utility/deploy_key
            | - ssh-add .utility/deploy_key
            | deploy:
            | - provider: script
            |   skip_cleanup: true
            |   script: wget -O - https://raw.githubusercontent.com/fossasia/yaydoc/master/generate_ci.sh | bash
          p
            | For more details, refer&nbsp;
            a(href='http://yaydoc.fossasia.org' target='_blank') yaydoc Documentation
        .modal-footer
          a.btn.btn-default(id='onetimeDeploy') Proceed with One-time Deployment
  script.
    $('#doc_theme').editableSelect();
