extends layout

block content
  script(src="/socket.io/socket.io.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js")
  script(src="/scripts/form.js")
  script(src="/scripts/suggestion.js")
  script(src="/scripts/ci.js")
  #notification-container
    li.notification Hello
  .container
    .col-md-6.col-md-offset-3
    center
      h1 Continuous Integration
    center
      a.btn.btn-default(type='button' href="/auth/ci") CI Deploy
    .col-md-6.col-md-offset-3
      center
        h1 Web Generator
      form(method='post' action='/generate')
        .form-group
          label.control-label(for='email') Email:
          input#email.form-control(type='email', placeholder='Enter Email', name='email', required='')
        .form-group
          label.control-label(for='git_url') GITURL:
          select#git_url.form-control(type='text', placeholder='Enter URL of Github Repository', name='git_url')
        .div#subproject
        .form-group
          label.control-label(for='doc_theme') Doc Theme:
          select#doc_theme.form-control(name='doc_theme')
            option(value='fossasia_theme') fossasia_theme
            option(disabled='') Built-in Themes
            option(value='alabaster') alabaster
            option(value='classic') classic
            option(value='sphinxdoc') sphinxdoc
            option(value='scrolls') scrolls
            option(value='agogo') agogo
            option(value='traditional') traditional
            option(value='nature') nature
            option(value='haiku') haiku
            option(value='pyramid') pyramid
            option(value='bizstyle') bizstyle
            option(disabled='') PyPi Custom Themes
            option(value='sphinx_bootstrap_theme') sphinx_bootstrap_theme
            option(value='sphinx_adc_theme') sphinx_adc_theme
            option(value='rtcat_sphinx_theme') rtcat_sphinx_theme
            option(value='guzzle_sphinx_theme') guzzle_sphinx_theme
            option(value='sphinx_rtd_theme') sphinx_rtd_theme
            option(value='Flask-Sphinx-Themes') Flask-Sphinx-Themes
            option(value='sphinxjp.themes.sphinxjp') sphinxjp.themes.sphinxjp
        .form-group
            label.control-label(for='debug') Debug mode
            input#debug(type='checkbox', value='true', name='debug', checked=false)
        .form-group#buttons
            button.btn.btn-default(type='button' id='btnGenerate') Generate Docs
            button.btn.btn-default(type='button' id='subProject' onclick="addSubProject()") Add Sub Project
            .row(style='padding-bottom: 25px;')
              a.btn.btn-default(id='btnDownload') Download
              a.btn.btn-default(id='btnPreview' target='_blank') Preview
            .row
              a.btn.btn-default(id='btnDeployGithub' data-toggle='modal', data-target='#githubModal') Deploy to Github
              a.btn.btn-default(id='btnDeployHeroku') Deploy to Heroku
      .progress
        #progress.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%')
          span.sr-only
      .logs.pre-scrollable
        h4(style='text-align: center; padding-top: 5px; color: #ffffff') Console Output
        ul#messages
      .row(style='text-align: center;margin-top: 20px;')
        a.btn.btn-default(id='btnLogs') Detailed Logs
  #githubModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h5.modal-title Github Deployment
        .modal-body
          p
            | In order to enable continuous deployment of Documentation, add the following content to your &nbsp;
            code .travis.yml
            | , making necessary changes
          pre
            | # Add environment variable following description in http://yaydoc.fossasia.org/#usage
            | env:
            |   global:
            |     - DOCPATH=&lt;doc-path&gt;
            | # Add SSH Key following description in http://yaydoc.fossasia.org/#using-ssh
            | before_deploy:
            | - openssl aes-256-cbc -K $encrypted_37510afbd506_key -iv $encrypted_37510afbd506_iv -in .utility/deploy_key.enc -out .utility/deploy_key -d
            | - eval "$(ssh-agent -s)"
            | - chmod 600 .utility/deploy_key
            | - ssh-add .utility/deploy_key
            | deploy:
            | - provider: script
            |   skip_cleanup: true
            |   script: wget -O - https://raw.githubusercontent.com/fossasia/yaydoc/master/generate_ci.sh | bash
          p
            | For more details, refer&nbsp;
            a(href='http://yaydoc.fossasia.org' target='_blank') yaydoc Documentation
        .modal-footer
          a.btn.btn-default(id='onetimeDeploy') Proceed with One-time Deployment
  #detailed-logs-modal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h5.modal-title Detailed Logs
        .modal-body
          pre#detailed-logs.pre-scrollable
        .modal-footer
          button.btn.btn-default#copy-button(data-clipboard-action='copy' data-clipboard-target='#detailed-logs' style='float: left') Copy to Clipboard
          a#downloadDetailedLogs.btn.btn-default Download
  #ciModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h5.modal-title CI Deployment
        .modal-body
          h4 Select the repository
          form#ci_register(action="/ci/register", method="POST")
            div.input-group
              input.form-control#search_bar(placeholder="Enter project name")
              span.input-group-btn
                button.btn.btn-default#search(type="button") Search
            br
            div#search_result                         
           .modal-footer
              button.btn.btn-default.disabled#register_btn(type="submit") Register
  if ci === true
    script.
      $("#ciModal").modal('show');
      var username = "#{username}";      
  if showMessage === true
    script.
      styles.showNotification("#{message}");
  script.
    $('#doc_theme').editableSelect();
