extends layout

block content
  script(src="/socket.io/socket.io.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js")
  script(src="/scripts/suggestion.js")
  script(src="/scripts/defaults.js")
  script(src="/scripts/form.js")
  script(src="/scripts/ci.js")
  #notification-container
    li.notification Hello
  .container
    .col-md-6.col-md-offset-3
    center
      h1 Continuous Integration
    center
      a.btn.btn-default(type='button' href="/auth/ci") CI Deploy
    .col-md-6.col-md-offset-3
      center
        h1 Web Generator
      form(method='post' action='/generate')
        .form-group
          label.control-label(for='email') Email:
          input.form-control#email(type='email', placeholder='Enter Email', name='email', required='')
        .form-group
          label.control-label(for='git_url') GITURL:
          select.form-control#git_url(type='text', placeholder='Enter URL of Github Repository', name='git_url')
        .div#subproject
        .form-group
          label.control-label(for='doc_theme') Doc Theme:
          select#doc_theme.form-control(name='doc_theme')
            option(disabled='') Built-in Themes
            option(value='alabaster') alabaster
            option(value='classic') classic
            option(value='sphinxdoc') sphinxdoc
            option(value='scrolls') scrolls
            option(value='agogo') agogo
            option(value='traditional') traditional
            option(value='nature') nature
            option(value='haiku') haiku
            option(value='pyramid') pyramid
            option(value='bizstyle') bizstyle
            option(disabled='') PyPi Custom Themes
            option(value='sphinx_fossasia_theme') sphinx_fossasia_theme
            option(value='sphinx_bootstrap_theme') sphinx_bootstrap_theme
            option(value='sphinx_adc_theme') sphinx_adc_theme
            option(value='rtcat_sphinx_theme') rtcat_sphinx_theme
            option(value='guzzle_sphinx_theme') guzzle_sphinx_theme
            option(value='sphinx_rtd_theme') sphinx_rtd_theme
            option(value='Flask-Sphinx-Themes') Flask-Sphinx-Themes
            option(value='sphinxjp.themes.sphinxjp') sphinxjp.themes.sphinxjp
        .form-group
          input#advanced(type="checkbox")
          label(for='advanced') &nbsp; Advanced Configurations
        #configs
          .form-group
            label.control-label Debug Mode: &nbsp;
            .btn-group(data-toggle="buttons")
              label.btn.btn-default.active
                input#disabled(type='radio' name='debug' value='false')
                | Disabled
              label.btn.btn-default
                input#enabled(type='radio' name='debug' value='true')
                | Enabled
          .form-group
            label.control-label(for='target_branch') Branch Name:
            .input-group
              span.input-group-btn
                button.btn.btn-default#btnEditBranch(type='button')
                  span.glyphicon.glyphicon-unchecked#checkbox_target_branch
              input.form-control#target_branch(type='text' placeholder='Default Branch | Received from .yaydoc.yml' name='target_branch' disabled='disabled')
          .form-group
            label.control-label(for='doc_path') Doc Path:
            .input-group
              span.input-group-btn
                button.btn.btn-default#btnEditPath(type='button')
                  span.glyphicon.glyphicon-unchecked#checkbox_doc_path
              input.form-control#doc_path(type='text' placeholder='Default:- `docs` | Received from .yaydoc.yml' name='doc_path' disabled='')
        .form-group#buttons
          button.btn.btn-default#btnGenerate(type='button') Generate Docs
          button.btn.btn-default#btnSubProject(type='button') Add Sub Project
          .row(style='padding-bottom: 25px;')
            a.btn.btn-default#btnDownload Download
            a.btn.btn-default#btnPreview(target='_blank') Preview
          .row
            a.btn.btn-default#btnDeployGithub(data-toggle='modal', data-target='#githubModal') Deploy to Github
            a.btn.btn-default#btnDeployHeroku(target='_blank') Deploy to Heroku
      .progress
        #progress.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%')
          span.sr-only
      .logs.pre-scrollable
        h4.console-output-header Console Output
        ul#messages
      .row(style='text-align: center;margin-top: 20px;')
        a.btn.btn-default(id='btnLogs') Detailed Logs
  #githubModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h5.modal-title Github Deployment
        .modal-body
          p
            | In order to enable continuous deployment of Documentation, use the CI Deploy button &nbsp;
            | For more details, refer&nbsp;
            a(href='http://yaydoc.fossasia.org' target='_blank') yaydoc Documentation
        .modal-footer
          a.btn.btn-default(id='onetimeDeploy') Proceed with One-time Deployment
  #detailed-logs-modal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h5.modal-title Detailed Logs
        .modal-body
          pre#detailed-logs.pre-scrollable
        .modal-footer
          button.btn.btn-default#copy-button(data-clipboard-action='copy' data-clipboard-target='#detailed-logs' style='float: left') Copy to Clipboard
          a#downloadDetailedLogs.btn.btn-default Download
  #ciModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title CI Deployment
        .modal-body
          .form-group
            label.control-label(for='orgs') Organisation:
            select.form-control#orgs
              option #{username}
              if organisations
                each organisation in organisations
                  option=organisation
          form#ci_register(action="/ci/register", method="POST")
            .form-group
              label.control-label(for='search_bar') Search Repository:
              .input-group
                input.form-control#search_bar(placeholder="Enter project name")
                span.input-group-btn
                  button.btn.btn-default#search(type="button") Search
            .form-group#search_result
        .modal-footer
          button.btn.btn-default.disabled#register_btn(type="submit") Register
  if ci === true
    script.
      $("#ciModal").modal('show');
  if showMessage === true
    script.
      styles.showNotification("#{message}");
  script.
    $('#doc_theme').editableSelect();
