extends layout

block content
  script(src="/socket.io/socket.io.js")
  script(src="/scripts/validation.js")
  script(src="/scripts/form.js")
  #notification-container
    li.notification Hello
  .container
    .col-md-6.col-md-offset-3
      form(method='post' action='/generate')
        .form-group
          label.control-label(for='email') Email:
          input#email.form-control(type='email', placeholder='Enter Email', name='email', required='')
        .form-group
          label.control-label(for='git_url') GITURL:
          input#git_url.form-control(type='text', placeholder='Enter URL of Github Repository', name='git_url')
        .form-group
          label.control-label(for='doc_theme') Doc Theme:
          select#doc_theme.form-control(name='doc_theme')
            option(value='fossasia_theme') fossasia_theme
            option(value='alabaster') alabaster
            option(value='classic') classic
            option(value='sphinxdoc') sphinxdoc
            option(value='scrolls') scrolls
            option(value='agogo') agogo
            option(value='traditional') traditional
            option(value='nature') nature
            option(value='haiku') haiku
            option(value='pyramid') pyramid
            option(value='bizstyle') bizstyle
            option(value='') custom
        .form-group#buttons
            button.btn.btn-default(type='button' id='btnGenerate') Generate Docs
            .row
              a.btn.btn-default(type='button' id='btnDownload') Download
              a.btn.btn-default(type='button' id='btnPreview' target='_blank') Preview
      .progress
        #progress.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%')
          span.sr-only
      .logs.pre-scrollable
        h4(style='text-align: center; padding-top: 5px; color: #ffffff') Console Output
        ul#messages
