doctype html
html
  head
    if title
      title #{title} | Yaydoc
    else
      title Yaydoc | Automatic Documentation Generation and Deployment
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js')
    script(src="/scripts/styles.js")
    script(src="/scripts/validation.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js")
  body
    #notification-container
      li.notification Placeholder
    include template/header
    block content
    include template/footer
    script.
      $(document).mouseup(function(e) {
        var container = $(".custom-menu-content");
        var button = $(".glyphicon-th");
        // if the target of the click is not the button,
        // the container or a descendant of the container
        if (!button.is(e.target) && !container.is(e.target) && container.has(e.target).length === 0) {
          container.addClass("hidden");
        }
      });

      $(".glyphicon-th").click(function(){
        $(".custom-menu-content").toggleClass("hidden");
      });

      var apiUrl = "https://api.github.com/repos/fossasia/yaydoc/git/refs/heads/master";
      $.ajax({
        url: apiUrl,
        async: true,
        success(result) {
          if(typeof result.object !== "undefined" && typeof result.object.sha !== "undefined") {
            var version = result["object"]["sha"];
            var versionLink = "https://github.com/fossasia/badgeyay/tree/"+version;
            var deployLink = $(".version").attr("href", versionLink).html(version);
          } else {
            $(".version").html("Failed to access version");
          }
        },
        error(error) {
          $(".version").html("Failed to access version");
        }
      });
