doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js')
    script(src="/scripts/styles.js")
    script(src="/scripts/validation.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js")
  body
    #notification-container
      li.notification Placeholder
    block content
