html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 120px !important;
}

a {
  color: #00B7FF;
}

.logs {
  height: 400px;
  background-color: #eee;
}

.progress {
  overflow: hidden;
}

#messages {
  font-family: "Lucida Console", Monaco, monospace;
  list-style: none;
  text-align: left;
}

.subproject {
  margin-bottom: 8px;
}

#messages li {
  margin-bottom: 5px;
}

#debug {
  margin-left: 5px;
}

#buttons {
  text-align: center;
}

#btnGenerate {
  margin-bottom: 20px;
}

#btnSubProject {
  margin-bottom: 20px;
  margin-left: 10px;
}

#btnDeployHeroku, #btnDeployGithub, #btnPreview, #btnDownload {
  display: none;
  width: -moz-fit-content;
  margin-left: 10px;
}

#btnAddSub {
  margin-left: 10px;
}
#btnWebsiteLink, #btnGithubPages, #btnLogs {
  display: none;
  width: -moz-fit-content;
}

.btnLogsDiv {
  text-align: center;
  margin-top: 20px;
}

#SubProject {
  margin-bottom: 10px;
}

#notification-container {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  margin-left: -50px;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.notification {
  margin: 0 auto;
  max-width: 60%;
  z-index: 8000;
  background-color: #fc4;
  border: 0;
  padding: 1px 8px;
  position: relative;
  top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  opacity: .9;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100px;
  width: -moz-fit-content;
  display: inline-block;
}

.error {
  color: red;
}

.es-list li[disabled] {
  background-color: black;
  color: white;
  font-size: .7em;
  opacity: 1;
  font-weight: 700;
}

#detailed-logs {
  max-height: 600px;
  overflow-y: scroll;
}

.danger-logs {
  color:red;
}

.console-output-header {
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
}

#configs {
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.navbar {
  margin-top: -50px;
}

#btnLogout {
  background-color: transparent;
  border: 0;
  margin-top: 15px;
}

.errorDiv {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

/* Bootstrap Callouts */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-success h4 a {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-danger h4 a {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  height: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer li {
  float: left;
}

.footer li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.repolist td {
  vertical-align: middle
}

.repolist .reponame {
  color: #666;
  text-decoration: none;
  padding: 5px;
}

.repolist .reponame:hover {
  background-color: #f1f1f1;
}
