body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logs {
  height: 400px;
  background-color: #eee;
}

.progress {
  overflow: hidden;
}

#messages {
  font-family: "Lucida Console", Monaco, monospace;
  list-style: none;
  text-align: left;
}

.subproject {
  margin-bottom: 8px;
}

#messages li {
  margin-bottom: 5px;
}

#debug {
  margin-left: 5px;
}

#buttons {
  text-align: center;
}

#btnGenerate {
  margin-bottom: 20px;
}

#btnSubProject {
  margin-bottom: 20px;
  margin-left: 10px;
}

#btnDeployHeroku, #btnDeployGithub, #btnPreview, #btnDownload {
  display: none;
  width: -moz-fit-content;
  margin-left: 10px;
}

#btnWebsiteLink, #btnGithubPages, #btnLogs {
  display: none;
  width: -moz-fit-content;
}

.btnLogsDiv {
  text-align: center;
  margin-top: 20px;
}

#notification-container {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  margin-left: -50px;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.notification {
  margin: 0 auto;
  max-width: 60%;
  z-index: 8000;
  background-color: #fc4;
  border: 0;
  padding: 1px 8px;
  position: relative;
  top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  opacity: .9;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100px;
  width: -moz-fit-content;
  display: inline-block;
}

.error {
  color: red;
}

.es-list li[disabled] {
  background-color: black;
  color: white;
  font-size: .7em;
  opacity: 1;
  font-weight: 700;
}

#detailed-logs {
  max-height: 600px;
  overflow-y: scroll;
}

.danger-logs {
  color:red;
}

.console-output-header {
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
}

#configs {
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.navbar {
  margin-top: -50px;
}

#btnLogout {
  background-color: transparent;
  border: 0;
  margin-top: 15px;
}

