extends layout

block content
  script(src="/socket.io/socket.io.js")
  script.
    $(function () {
      var socket = io();
      $("#btnGenerate").click(function () {
        var data = {};
        var formData = $("form").serializeArray();
        $.each(formData, function (i, field) {
          if (field.name === "email") { data.email = field.value; }
          if (field.name === "git_url") { data.gitUrl = field.value; }
          if (field.name === "author") { data.author = field.value; }
          if (field.name === "doc_theme") { data.docTheme = field.value; }
          if (field.name === "doc_path") { data.docPath = field.value; }
          if (field.name === "project_name") { data.projectName = field.value; }
          if (field.name === "version") { data.version = field.value; }
        });
        socket.emit('execute', data);
        $(this).attr("disabled", "none");
      });
      socket.on('logs', function (data) {
        $('#messages').append($('<li>').text(data.data));
        $("#progress").css("width", data.donePercent + "%");
      });
      socket.on('err-logs', function (msg) {
        $('#messages').append($('<li>').text(msg));
      });
      socket.on('success', function (data) {
        $('#btnDownload').css("display", "block");
        $('#btnDownload').attr("href", "/download/" + data.email +"/" + data.uniqueId);
      });
    });
  .container
    .col-md-6.col-md-offset-3
      form.form-horizontal(method='post' action='/generate')
        .form-group
          label.control-label.col-sm-3(for='email') Email:
          .col-sm-9
            input#email.form-control(type='email', placeholder='Enter Email', name='email')
        .form-group
          label.control-label.col-sm-3(for='git_url') GITURL:
          .col-sm-9
            input#git_url.form-control(type='text', placeholder='Enter URL of Github Repository', name='git_url')
        .form-group
          label.control-label.col-sm-3(for='author') Author:
          .col-sm-9
            input#author.form-control(type='text', placeholder='Enter Author', name='author')
        .form-group
          label.control-label.col-sm-3(for='doc_theme') Doc Theme:
          .col-sm-9
            input#doc_theme.form-control(type='text', placeholder='Enter Documentation Theme', name='doc_theme')
        .form-group
          label.control-label.col-sm-3(for='doc_path') Doc Path:
          .col-sm-9
            input#doc_path.form-control(type='text', placeholder='Enter Documentation Path', name='doc_path')
        .form-group
          label.control-label.col-sm-3(for='project_name') Project Name:
          .col-sm-9
            input#project_name.form-control(type='text', placeholder='Enter Project Name' , name='project_name')
        .form-group
          label.control-label.col-sm-3(for='version') Version:
          .col-sm-9
            input#version.form-control(type='text', placeholder='Enter Version', name='version')
        .form-group
          .col-sm-offset-3.col-sm-9
            button.btn.btn-default(type='button' id='btnGenerate') Generate Docs
            a.btn.btn-default(type='button' id='btnDownload') Download as Zip
      .progress
        #progress.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%')
          span.sr-only
      .logs.pre-scrollable
        h4(style='text-align: center; padding-top: 5px; color: #ffffff') Console Output
        ul#messages
