extends layout

block content
    .container
        div(style='text-align:center')
            p Successfully Generated Docs
            a(class='btn btn-default', href='/download/#{email}/#{projectName}') Download as ZIP
