.footer
  div.footer-container
    div.col-1
      h1 Yaydoc
    div.col-2
      a(href="https://blog.fossasia.org/") Blog
      a(href="https://fossasia.org/#about") About
      a(href="https://blog.fossasia.org/contact/") Contact
  strong Version:
  a.version
