footer.footer
  .container
    .row
      .col-md-3
        h1 Yaydoc
      .col-md-6.col-md-offset-3
        ul
          li
            a(href="/" target="_blank") Homepage
          li
            a(href="http://yaydoc.fossasia.org" target="_blank") Documentation
          li
            a(href="http://blog.fossasia.org/?s=yaydoc" target="_blank") Blog
          li
            a(href="https://github.com/fossasia/yaydoc" target="_blank") Code
