nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/') Yaydoc
    ul.nav.navbar-nav.navbar-right
      li
        i.glyphicon.glyphicon-th
      .custom-menu-content.hidden
        .custom-menu
          .hide-arrow
          .custom-menu-cont
            .custom-menu-item
              a.custom-icon(href='http://github.com/fossasia/yaydoc', target='_blank')
                img(src='/images/code.png')
                p.custom-title Code
            .custom-menu-item
              a.custom-icon(href='http://github.com/fossasia/yaydoc/issues', target='_blank')
                img(src='/images/bug.png')
                p.custom-title Bug Report
            .custom-menu-item
              a.custom-icon(href='http://blog.fossasia.org', target='_blank')
                img(src='/images/blog.png')
                p.custom-title Blogs
            hr
            .custom-menu-item
              a.custom-icon(href='http://eventyay.com', target='_blank')
                img(src='/images/eventyay.png')
                p.custom-title Eventyay
            .custom-menu-item
              a.custom-icon(href='http://fossasia.org', target='_blank')
                img(src='/images/fossasia.png')
                p.custom-title FOSSASIA
            .custom-menu-item
              a.custom-icon(href='http://chat.susi.ai', target='_blank')
                img(src='/images/susi.jpg')
                p.custom-title Susi
            .custom-menu-item
              a.custom-icon(href='http://loklak.net', target='_blank')
                img(src='/images/loklak.png')
                p.custom-title loklak
            .custom-menu-item
              a.custom-icon(href='http://phimp.me', target='_blank')
                img(src='/images/phimp.png')
                p.custom-title Phimp.me
            .custom-menu-item
              a.custom-icon(href='http://susper.com', target='_blank')
                img(src='/images/susper.png')
                p.custom-title susper
            .custom-menu-item
              a.custom-icon(href='http://meilix.org', target='_blank')
                img(src='/images/meilix.png')
                p.custom-title meilix-generator
            .custom-menu-item
              a.custom-icon(href='http://pslab.io', target='_blank')
                img(src='/images/Pslab.png')
                p.custom-title PS Lab
            .custom-menu-item
              a.custom-icon(href='http://badgeyay.com', target='_blank')
                img(src='/images/badgeyay.png')
                p.custom-title badgeyay
        .custom-arrow
